body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 80%;
    margin: auto;
}

.fourth {
    border-bottom: 2px solid rgb(134, 134, 134);
    margin: 0 0 5rem 0;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: none;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px rgb(134, 134, 134) solid;
    transition: border-top 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.2s ease;
}

.content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.content-inner {
    padding: 0 1rem;
    max-height: 50rem;
}

.icon {
    width: 2rem;
}

.minus {
    display: none;
}

.content-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    width: 30%;
    max-width: 15rem;
    max-height: 8rem;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    margin: 2rem 0;
}

.small-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.big-picture {
    display: block;
    width: 90%;
    max-width: 50rem;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    opacity: 0;
    transform: scale(0.95); /* startstorlek */
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:checked ~ .content .big-picture {
    opacity: 1;
    transform: scale(1); /* fullstorlek */
}

.input:checked ~ .content {
    max-height: 60rem;
    opacity: 1;
}

.input:checked + .label .minus {
    display: inline;
}

.input:checked + .label .plus {
    display: none;
}

.input:checked + .label {
    border-top: 6px rgb(121, 187, 199) solid;
    border-radius: 10px;
}